<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col mb-5 mb-lg-0">
                <h4 class="text-uppercase">Join me on social media</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="https://github.com/claserre9"><i class="fa fa-github fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="https://www.linkedin.com/in/cliffordlaserre/"><i class="fa fa-linkedin fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="https://twitter.com/claserre9"><i class="fa fa-twitter fa-fw"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>