<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
        <link rel="icon" type="image/png" sizes="256x256"
            href="assets/img/profile.png">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
            integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
            crossorigin="anonymous"></script>
        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
        <script type="text/javascript">
            (function () {
                emailjs.init("user_m0f2lHEYis5qtMmoyj5QB");
            })();
        </script>
        <script type="text/javascript">
            window.onload = function () {
                document.getElementById('contact-form').addEventListener('submit', function (event) {
                    event.preventDefault();
                    // generate a five digit number for the contact_number variable
                    this.contact_number.value = Math.random() * 100000 | 0;
                    // these IDs from the previous steps
                    emailjs.sendForm("5460", "template_ykl62pi", this);
                    // emailjs.sendForm('contact_service', 'contact_form', this);
                    swal("Thanks!", "Your message has been sent", "success")
                    this.reset();
                });
            }
        </script>
    </head>

    <body id="page-top">

        {% include header.html %}
        {{ content }}
        {% include footer.html %}

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="assets/js/script.min.js"></script>
    </body>

</html>