<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.1/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/css/main.css">


    <title>{{ page.title }} - {{ site.title }}</title>
</head>
<body class="flex flex-col min-h-screen">
{% include header.html %}
<main class="flex-grow">
    {{ content }}
</main>
{% include footer.html %}
<script type='text/javascript' src='/assets/js/knockout-3.5.1.js'></script>
</body>
</html>
